[2013-07-23 00:32] davidgovea opened #1 "Ability to minify raw files"
script-loader uses raw-loader, so the require()'ed script does not undergo any processing.

It would be nice if the webpack --optimize-minimize would compress scripts loaded with script-loader.

I started toying with a 'minscript-loader' using uglify-js, which is pretty easy https://github.com/mishoo/UglifyJS2#the-simple-way
but I end up duplicating the code from script loader anyways, so there sh

[2013-10-29 14:52] #1 closed, assigned to nobody

[2014-05-31 19:33] lmartins opened #3 "Seems to be having issues with source-maps"
I have a little repo where im doing some testing to Webpack features.
One issue I haven't been able to solve is related source-maps for js files loaded using this webpack loader.

You can check the structure im describing next in the aforementioned repo, available at:
https://github.com/lmartins/WebpackBuildComponent

Webpack is processing the files like this

[code]

After setting up the project

[2014-06-06 19:30] #3 closed, assigned to nobody

[2015-02-02 14:26] valscion opened #6 "Evaluating works inconsistently among browsers"
Please see the following blog post for explanation on why it is not possible to just run `eval.call(null, src)` and expect it to behave the same way in most of the browsers.

http://perfectionkills.com/global-eval-what-are-the-options/

It should be noted that even if the script written in that blog post is used, one should never rely 100% for this loader as it still might fail. Some kind of warni

[2015-02-05 15:02] cuongvo commented on #6
+1 for dynamic script insertion, similar to the way style-loader is doing it for CSS: https://github.com/webpack/style-loader/blob/master/addStyles.js

[2015-04-20 23:03] trusktr opened #7 "Does this work with online scripts?"
For example, can I do `require('script!//maps.googleapis.com/maps/api/js?sensor=false&libraries=geometry')`?

[2015-04-20 23:15] trusktr commented on #7
I found this: https://github.com/webpack/webpack/issues/150

[2015-04-21 06:38] sokra commented on #7
webpack doesn't handle script loading. Use an separate library for this. i. e. https://github.com/ded/script.js/

[2015-04-21 06:53] trusktr commented on #7
@sokra Thanks for the advice! I'm trying to avoid modifying the library, which is all AMD modules, and has some modules that load externals in this manner (using the requirejs async plugin). It'd be nice if webpack could bundle a handler that would fetch things in the browser for these types of cases. The problem is if I modify the way the library works, I might have to go and modify dozens of oth

[2015-04-21 06:54] #7 closed

[2015-05-13 10:21] Semigradsky opened #8 "Not working with react-hot loader"
`require("script!./file.js");`

Result in file.js:
[code]

File.js content after `react-hot` loader transformation:
[code]

[2015-05-13 16:18] sokra commented on #8
Than don't use both on the same file.

[2015-05-13 16:18] #8 closed

[2015-05-13 16:54] Semigradsky commented on #8
:disappointed:

[2015-07-30 00:06] alexhancock opened #9 "Compatibility with uglify plugin?"
Is there a known issue with comments not being uglified out of modules being loaded with `script-loader`?

For instance, I have an entry file which looks like this...

[code]

...and a simplified version of my webpack config looks like this...

[code]

\*  using temporary solution for the structure of the `comments` output option from [here](https://github.com/webpack/webpack/issues/324#issuecomme

[2015-07-30 20:29] gabrielhpugliese commented on #9
I have the exactly same issue. Was trying to change my build from gulp but the result becomes much bigger.

[2015-07-30 20:52] alexhancock commented on #9
I understand now, at least in part why it doesn't work. Given that the content of the files loaded with a script loader is just taken and wrapped in an eval.

I followed the advice [here](https://github.com/webpack/script-loader/issues/3) and wrote a simpler "uglify only" loader, which I will at least put on npm in case it's useful to someone else.

I also found [this loader](https://github.com/be

[2015-07-30 21:28] gabrielhpugliese commented on #9
Oh yeah, that loader did the trick. But you need to put the `script!` before `uglify!` like this. because uglify needs to run before:

`require('script!uglify!jquery-1.7.2.min.js');`

[2015-08-31 16:24] dsthilaire commented on #8
Can you please give more details on how to resolve this problem?  I am having the same issue, and I'm not following how to implement the suggested solution.  I'm new to webpack.

[2015-09-01 06:10] sokra commented on #8
`require("!script!./file.js");` should solve it... note the leading `!` in the request.

[2015-09-01 15:41] dsthilaire commented on #8
Thanks, that worked.

[2015-09-02 03:12] keenwon opened #10 "Error in IE7/8"
[code]

[code]
`eval.call(null, src)` is not work in IE7/8

[2015-10-15 16:04] dmose commented on #6
Another concrete consequence is that sites using Content-Security-Policy with the script loader are forced to weaken their security by adding 'unsafe-eval' to their CSP.  Given that the script loader is presumably used especially heavily by sites migrating to webpack, this may hurt uptake.

[2015-10-15 20:35] wfalkwallace commented on #6
is there any update on this? February is a long time ago.

[2015-10-23 16:30] zdexter commented on #6
+1, @dmose makes a good point about `Content-Security-Policy` settings. Latest Chrome will tell you:

`Uncaught EvalError: Refused to evaluate a string as JavaScript because 'unsafe-eval' is not an allowed source of script in the following Content Security Policy directive: "`

[2015-11-09 06:38] harole opened #11 "script-loader can not use in async require with angular(1.x.x)"
### My code :
      resolve: {
        lazyLoad: function($q){
          return $q(function(resolve, reject){
            require.ensure([], function(require){
              require('script!./modules/clusters/clusters.js');
              require('script!./vendor/galaxy-sdk-javascript/rpc/thrift.js');
              resolve()
            });
          })
        }
      }
### Help
The script-load do

[2015-11-11 06:06] #11 closed

[2015-11-12 13:58] maitriyogin opened #12 "Including aws-sdk"
Hi,
I'm trying to include a pre-built aws-sdk.js file into my bundle as a script.
My idea is to have a vendor dir which will contain all un-npm js, which I can just include with the script loader. This is instead of having <script tags in the index.html.
I'm not having much success ...
Dir :
webpack.config.js
node_modules/
vendor/aws-sdk.js
src/

webpack config

[code]

I'm not too sure what regga

[2016-01-21 19:39] rattrayalex opened #13 "Incorrect handling of `this` (should refer to `window`)."
Hi,

Thanks for all your hard work. Some legacy scripts I'm trying to load use `this` to refer to `window`, eg; `this.jQuery` when a window-loaded jQuery is provided. However, I'm getting an `uncaught TypeError`, claiming `this` is undefined.

Note that I'm using the devtool `eval-source-map`, in case that could be related.

Thanks!

[2016-01-21 19:46] rattrayalex commented on #13
I should add that using `imports?this=>window` also wasn't working.

[2016-02-05 18:02] rosenfeld commented on #10
I can confirm that. In IE8 `typeof execScript` is "object", not "function". The work-around I'm using to make it work in IE8 is using jQuery.globalEval implementation:

[code]

globalEval is implemented as:

[code]

[2016-02-15 15:35] hanleym commented on #10
I'm also having this issue and can confirm @rosenfeld's fix works.

[2016-04-15 10:34] vagdwd commented on #6
+1 for issue faced by @zdexter . I might have to rethink usage of webpack for us. I would hate going back to requirejs.

[2016-04-19 23:54] SPSpwetter commented on #6
Me three.

[2016-04-20 10:19] valscion commented on #6
I think my original issue text seems incorrect, and this issue really seems to cover way more ground than just the `eval` call — mainly, the entire approach of injecting code by this loader.

Unfortunately as far as I know, the approach taken by `style-loader` as suggested by @cuongvo wouldn't work because the script contents can't be injected between the `<script></script>` opening and closing ta

[2016-04-20 10:19] #6 closed

[2016-04-20 21:36] sokra commented on #10
IE8 is weird... why is it an `object`...

[2016-04-20 21:43] sokra commented on #10
Next try: https://github.com/webpack/script-loader/commit/43e197d167fa78eb28364ca007b9042fdb3dd5af

[2016-04-20 21:43] #10 closed

[2016-05-03 18:32] SteveALee opened #16 "Can't get it to work at all with webpack dev server"
I tried loading 2 scripts one which uses a function defined in the other but it is always undefined. I tried in many places and using the debug I see the eval.call() and can step through the imported script but the values never stick. The Chrome tools indicate i'm in some sort of closure.

In case it helps here is my config - https://github.com/OpenDirective/brian/blob/master/webpack.config.js
And

[2016-06-27 08:03] sky-coding commented on #13
I'm trying to introduce webpack into a legacy app and this seemed like an easy way to get immediate implementation with equivalent functionality until I ran into _this_ issue. A third party plugin is implicitly declaring a function (onto window) and as stated, it doesn't work.

The official docs, as sparse as they are, mention that this plugin

Which is incorrect, there is a difference and it brea

[2016-07-06 18:42] Vaccano opened #17 "Better example for new webpack folk"
The useage example is probably enough for webpack experts.  But it would be nice to know where in the config file that require statement is supposed to go.  (Just a suggestion.)

[2016-07-22 22:42] horacio-giovine commented on #17
yes please, im trying to load https://logentries.com/doc/javascript/
and i cant for the life of me get it to work

[2016-08-07 12:22] liaa opened #18 "Can loaded script been execute in other(not global) context"
Code as below:

[code]

I want `myscript.js` execute only in `myfunc` function context. How could make it happen.

[2016-08-11 08:26] k-funk commented on #17
I'm still quite confused. This seems to just replace the filename with a `require('path_on_disk/filename.js')`, which doesn't seem like it's executing anything in the global context unless I have something loaded in the browser that runs ajax to get those files.

[2016-08-11 19:05] k-funk commented on #17
Looks like my issue was because I was also doing a `noParse` on the same directory, which stopped webpack from loading what it had `require`d. I'd still prefer to not parse these files, but still have them available/run in the global context—same as dumping them in via `<script>`s.

[2016-08-31 18:41] aroc commented on #13
I'm encountering the same issue here. `this` is `undefined`. `window` is defined correctly though. As a result of `this` not being set to `window`, a lot of older libraries break. Anybody know of a way around this that doesn't include me updating all my libraries to reference `window` instead?

[2016-09-09 20:07] clixr commented on #13
Hi. I got same issue. It's caused by strict mode appended to script. Now it's my question, is it possible to not use strict mode then?

[2016-09-11 20:01] rickylqhan commented on #13
@clixr How did you solve it?

[2016-09-21 23:54] iheartrachie commented on #8
I was coming across a `require not defined` error and adding the `!` at the beginning like @sokra suggested fixed the issue for me.

[2016-09-28 20:07] tomccabe commented on #17
I wouldn't even call what's in the README an "example". Tells you absolutely nothing.

[2016-10-06 02:01] pcompassion commented on #17
+1

[2016-10-06 06:20] pcompassion commented on #17
I looked at the source, and I don't think it's meant to be used with external (https://) scripts.

[2016-11-04 08:04] freeman29 opened #19 "Cannot read property 'replace' of undefined"
Hi guys,

How can I fix this issue?

Thanks!

[2016-11-22 18:41] sunny-g commented on #17
@SpaceK33z

[2016-11-22 18:43] SpaceK33z commented on #17
We are working on better documentation for all loaders. See https://github.com/webpack/webpack/issues/3195

[2016-11-30 01:08] kswope opened #21 "'use strict' defeats this loader?"
[code]

findme.js
[code]

In chrome console
[code]

uncomment 'use strict'
[code]

[code]

Here are what the two versions look like in bundle
[code]

[code]

[2016-12-28 19:31] raulferras commented on #7
Hi @trusktr, did you manage to solve this issue? I'm having a similar one.
Thank you.

[2017-01-10 09:46] folmert opened #22 "Cannot find module "script-loader!./test.js""
`require("script-loader!./test.js");`

Console output:

I have test.js in the same dir with the original script. I'm using Webpack 2.

[2017-01-23 10:06] appsolutegeek opened #23 "Help with script-loader and using in webpack config / es2015 imports ?"
Hi,

I found the script-loader and got it working using the example given using require. I am actually using a webpack.config and ES2015

Can anyone confirm if I can use this with

1. ES 2015 imports and how to do this?

2. Using webpack.config and adding it to the loaders sections

There seems to be little documentation.

Its worth noting that i am using multiple script-loaders currently like so

[2017-02-14 20:00] needforspeed opened #24 "Is the example in source file or webpack.config.js file?"
Assume I have a lib.js and want to use it in file.js

Should I put it something like
[code]
in my file.js or in my webpack.config.js?

[2017-02-17 13:30] mattiaocchiuto opened #25 "Add "use strict" to every file included"
I'm using the script-loader (https://github.com/webpack-contrib/script-loader) to import some old libs. What I noticed is that at the top of the imported script is appended the "use strict" sentence but I dont want it.

Is there a way to disable this behaviour?

[2017-03-14 08:29] wuxiandiejia commented on #25
@mattiaocchiuto Did you use babel-loader or es6's `import`? see [this](https://github.com/webpack/webpack/issues/2512).

[2017-03-26 09:11] adamasantares commented on #19
I got same error but with Twitter's typeahead.js :(

[code]

[code]

[2017-03-26 13:44] michael-ciniawsky commented on #9
`babel-loader` && `babel-preset-babili` (Babel Minify) is also a (modern) option to achieve this, if there a any regressions still please reopen/open a new issue 😛

[2017-03-26 13:44] #9 closed

[2017-03-26 14:02] michael-ciniawsky commented on #24
@needforspeed  if you don't config `script-loader` in `webpack.config.js` you need to reference it in the `require('script-loader!path/to/script.js') otherwise

**file.js**
[code]

**webpack.config.js**
[code]

 is equivalent. I will refactor the docs...

[2017-03-26 14:03] michael-ciniawsky commented on #23
@appsolutegeek

**file.js**
[code]

**webpack.config.js**
[code]

[2017-03-26 14:03] #23 closed

[2017-03-26 14:06] michael-ciniawsky commented on #16
maybe related to #13

[2017-03-26 14:07] michael-ciniawsky commented on #19
maybe related to #13

[2017-03-26 14:09] michael-ciniawsky commented on #19
@adamasantares Form a first glance I think this is the cause too, if you havea workaround && time mind sending a quick PR 😛 ?

[2017-03-27 04:58] adamasantares commented on #19
@michael-ciniawsky

Hey, I found solution, check there https://github.com/twitter/typeahead.js/issues/1627

[2017-03-27 13:10] needforspeed commented on #24
@michael-ciniawsky Thank you. I figured out :)

[2017-03-27 15:52] michael-ciniawsky commented on #19
@adamasantares Thx very much I see 😛, closing since this is solve by using `imports-loader` instead for 'incompatible'  files

[2017-03-27 15:52] #19 closed

[2017-04-09 04:23] d3viant0ne opened #29 "webpack-defaults upgrade"
Addition of `webpack-defaults` & associated refactoring as a part of the next `Major` release

Issue exists for status tracking across the organization.

[2017-04-12 13:21] dfvalero opened #30 "SourceMaps"
I'm requiring a js file from my project, and I have devtools enabled with webpack. When I go to Chrome Devtools and I try to check the file, I only can see a compiled file like this:

module.exports = "[all-the-code]".

So... it's impossible to me to debug using devtools.

[2017-04-13 00:06] jiaweihli commented on #30
This is actually [already implemented](https://github.com/webpack-contrib/script-loader/blob/master/index.js#L15) but hidden behind a debug flag.  If you're using webpack 2, one way to do this is add a plugin to the `plugins` array:

[code]

[2017-04-13 00:06] jiaweihli commented on #30
I'm not sure why this isn't enabled by default 😕

[2017-04-16 06:30] UltimateGoDLikE opened #32 "Allow script-loader to run more than once"
Is it possible add a config or command to allow the script to load more than once in the same context ? It seems to only load once in the same context. Thanks in advance

[2017-04-16 06:33] #32 closed

[2017-04-20 05:31] michael-ciniawsky opened #33 "Standardize README"

[2017-04-23 10:43] johanroug commented on #7
take a look at externals. You can define a script in your html, and tell webpack that you have done so.

https://webpack.js.org/configuration/externals/

[2017-05-04 08:32] r01010010 commented on #16
same here

[2017-05-04 14:33] r01010010 opened #35 "Scripts not being executed"
I'm trying to upgrade from webpack 1 to 2 . Everything compiles, loads just fine apparently, but globally required variables are not available.

The way I used to have it was, at some point in the entry flow, i had a lot of
[code]
this configuration worked just fine, but with the upgrade, it seems scripts are not being executed

The webpack configuration entries are two, core and vendor:

[code]

[2017-06-06 12:32] alexandrujecan opened #36 "Cannot use the script with Internet Explorer 11"
Hello,

I can't use this script in InternetExplorer 11 on an Apache HTTP Server.

I get an error when calling the method execScript() from addScripts.js:

module.exports = function(src) {
	if (typeof execScript !== "undefined")
		execScript(src);
	else
		eval.call(null, src);
}

The execScript() method is deprecated in IE 11.

Any solutions to this ?

[2017-06-06 12:57] evilebottnawi commented on #36
@alexandrujecan it is only message about deprecated, should be work fine, just ignore this message because it is IE :imp:

[2017-06-06 13:29] alexandrujecan commented on #36
@evilebottnawi
No, it is not message about being deprecated.

It is simply not working:
"The process could not be continued  because of the following error: 80020101"

It points to the error:
In scripts.bundle.js which was autogenerated from addScripts.js.
It points to the line 7 from this file where the method execScript() is called.

[2017-06-06 13:32] evilebottnawi commented on #36
@alexandrujecan your use latest version of IE 11?

[2017-06-06 13:36] alexandrujecan commented on #36
@evilebottnawi
IE version 11.0.9600.18655

[2017-06-06 14:03] evilebottnawi commented on #36
@alexandrujecan i am not familiar with IE, it is new version?

[2017-06-06 14:06] alexandrujecan commented on #36
@evilebottnawi

No, it is not the newest.

[2017-06-06 15:16] evilebottnawi commented on #36
@alexandrujecan can your try to update version to latest and testing again?

[2017-06-06 15:20] alexandrujecan commented on #36
@evilebottnawi
Unfortunately I can't.
I have to make it work using this version

[2017-06-06 15:31] evilebottnawi commented on #36
@alexandrujecan ok, let's try to fix it

[2017-06-06 15:31] evilebottnawi commented on #36
@alexandrujecan can your create minimal reproducible test repo?

[2017-06-07 07:27] alexandrujecan commented on #36
@evilebottnawi

I am using Angular 2 with TypeScript
Node version = 6.10.3
NPM version = 3.10.10

I cannot open my application in Internet Explorer 11 which runs in compatibility mode.
I am using the script-loader.

When I debug I see that the problem is inside the scripts.bundle.js, which was generated into the dist folder.

The scripts.bundle.js file contains:
module.exports = function(src) {
	i

[2017-06-12 14:51] jimmymain commented on #30
I am using script-loader inline with webpack2.
I have the same problem.
I have tried both options, but it doesn't seem to work:

[code]
My javascript file imports the relevant scripts inline as I only want to use `script-loader` for a few legacy scripts.
[code]
The result is inline `module.exports =` code without source maps that cannot be debugged.
[code]

any suggestions?

[2017-07-20 07:31] Vasikaran opened #37 "Can't find module lib.js"
I use script-loader for load non-module library. So I just try script-loader. But I can't load any .js files. While I load JS it throws error. Here are my example codes. What's wrong in my code?

[code]

[code]
[code]

[2017-07-27 22:46] pweaver opened #38 "Using sourceMaps with script-loader"
We are using script-loader to load pre minified files. These minified files usually also have source maps. script-loader should also specify where to find source maps.

[2017-07-28 11:54] evilebottnawi commented on #38
@pweaver please describe more information, btw maybe your want https://github.com/webpack-contrib/source-map-loader

[2017-07-28 15:08] pweaver commented on #38
Yes, we are using source-map-loader. I think the problem is that the minified files don't have a sourceMapUrl comment embeded in the minified version so we need to figure out how to add one.

[2017-07-28 15:23] pweaver commented on #38
Actually, even with a source map url, source-map-loader is not passing through sourcemaps.

See underscore-min.js in the underscore node library. Or jquery.min.js in the query library for and example without a sourceMapURL.

[2017-07-28 15:26] evilebottnawi commented on #38
@pweaver can your create minimum reproducible test repo, this saves time, thanks!

[2017-07-28 16:09] pweaver commented on #38
https://github.com/pweaver/source-map-test

[2017-07-28 16:12] evilebottnawi commented on #38
@pweaver thanks

[2017-07-31 20:27] cordoval opened #39 "CSP does not allow eval"
Can we use another way other than calling eval?

This is not good for security reasons

https://github.com/webpack-contrib/script-loader/blob/master/addScript.js#L9

[code]

source: https://scotthelme.co.uk/content-security-policy-an-introduction/

[2017-08-01 09:45] evilebottnawi commented on #39
@cordoval your wan't `eval` on bundling step or in compiled code?

[2017-08-01 13:01] cordoval commented on #39
the trace i got in production after all the processing that webpack does, so if that is compiled there yes

[2017-08-01 13:18] evilebottnawi commented on #39
@cordoval this loader use `eval` inside, your should search other solution for your case. Can your explain case why your use eval?

[2017-08-01 13:20] cordoval commented on #39
i don't use eval and eval is weak for security. This is very clear when you check what it CSP and how attackers can leverage eval() function used in script-loader to break security. My use case is just the plain usage of this script-loader. I am going to close it but this was a big warning.

[2017-08-06 02:09] pweaver commented on #38
I did a little poking around. source-map-loader is loading the source maps when a sourceMapURL comment is present. It just isn't usefully passing them on to everything else and I haven't figure out enough about webpack to understand why.

[2017-08-07 18:22] CristhianUNSa opened #40 "Compatibility with Babel"
How to transpile ES6/ESNext code before it is being loaded by this tool ? Thanks

[2017-08-17 17:03] jcjolley commented on #36
I too am facing this issue, with Angular 4.3.4 and Typescript 2.4

[2017-08-17 17:09] jcjolley commented on #36
@alexandrujecan
This happened for me when trying to load a version of popper.js that didn't follow the UMD format.
When I switched to their UMD version, the error went away.

[2017-08-29 07:57] yairinot commented on #39
I have the same issue.
I try to create an application using angular 2 and bootstrap.
Angular is using webpack for its build.
When script loader try to load the first javascript file I get this error:
[code]
Is there any way around it ?

[2017-08-29 13:34] cordoval commented on #39
the work around is not using it

[2017-08-29 13:51] yairinot commented on #39
I'm not sure I understand the work around.
According to security guidelines I cannot use CSP with 'unsafe-eval'
Does this mean I cannot use angular with additional scripts due to this script-loader issue ?

[2017-08-30 02:26] cordoval commented on #39
exactly, you need to use another thing

[2017-08-31 16:03] h0gar commented on #8
This solved an issue for me but I don't understand. What is the leading ! doing exactly?

[2017-09-12 13:29] #36 closed

[2017-09-12 13:29] #39 closed

[2017-09-21 08:08] reficedev opened #42 "[Script Loader] import declarations may only appear at top level of a module"
Hi,

I get this message on my test webpage.
[Script Loader]  import declarations may only appear at top level of a module

Can you see why ?
[webpack+script-loader.zip](https://github.com/webpack-contrib/script-loader/files/1320386/webpack.script-loader.zip)

I'm using webpack 5.3.0 + node 8.5.0

thanks in advance

[2017-09-28 17:34] michael-ciniawsky commented on #42
You need the [`expose-loader`](https://github.com/webpack-contrib/expose-loader) || [`imports-loader`](https://github.com/webpack-contrib/imports-loader) for your purpose. Also bundling them directly without anything else might be worth a try :)

[2017-09-28 17:34] #42 closed

[2017-09-28 17:36] michael-ciniawsky commented on #40
**webpack.config.js**
[code]

[2017-09-28 17:36] #40 closed

[2017-09-28 17:40] michael-ciniawsky commented on #37
Rename the file please `lib.js` => `lib.exec.js`. It doesn't seem to match atm

[2017-09-28 17:40] #37 closed

[2017-09-28 17:42] michael-ciniawsky commented on #35
Please provide more info about your setup (e.g whole `webpack.config.js`)

[2017-09-28 17:44] michael-ciniawsky commented on #22
Please provide more info about your setup (the test file, `webpack.config.js`)

[2017-09-28 17:46] michael-ciniawsky commented on #25
`script-loader` does add anything here, see @wuxiandiejia comment please :)

[2017-09-28 17:46] #25 closed

[2017-09-28 17:47] michael-ciniawsky commented on #21
See https://github.com/webpack/webpack/issues/2512

[2017-09-28 17:47] #21 closed

[2017-09-28 17:49] michael-ciniawsky commented on #12
`expose-loader` || `imports-loader`

[2017-09-28 17:49] #12 closed

[2017-09-28 17:53] michael-ciniawsky commented on #16
Please import logic like that as a module, this is not in the scope of this loader

[2017-09-28 17:53] #16 closed

[2017-09-28 17:54] #18 closed

[2017-09-28 17:55] #24 closed

[2017-09-28 17:57] michael-ciniawsky commented on #38
Tracking Issue #30 && PR #31

[2017-09-28 17:57] #38 closed

[2017-09-28 17:59] michael-ciniawsky commented on #13
See https://github.com/webpack/webpack/issues/2512 for how to avoid adding 'use strict'

[2017-09-28 17:59] #13 closed

[2017-10-09 14:21] tiberiucorbu opened #44 "Document this Loader - Provide a full blown working example"
One cannot tell only out of the README.md how is this loader supposed to work. Please provide an Full blown usage example!

[2017-10-09 14:32] evilebottnawi commented on #44
@tiberiucorbu PR welcome

[2017-10-16 03:39] lihongfang16 opened #46 "when the js file need jquery ,it throw jquery not define error"

[2017-10-16 04:15] michael-ciniawsky commented on #46
How do you load JQuery ?

[2017-10-20 16:14] oldie85 opened #47 "Issue using script-loader in config, works inline."
Works fine when I do
` import 'script-loader!../global/somescript.js';`

I have lots of bundles that include lots of files.

I thought it would be better to just add the script loader to the config like so:

`module: {
	    rules: [
	      {
	        test: /\.js$/,
	        use: [ 'script-loader' ]
	      }
	    ]
	  }`

When I use this approach I get the following error:

`[Script Loader] SyntaxE

[2017-10-20 18:41] michael-ciniawsky commented on #47
Can you show your full config and give context about your setup please ? Currently all `.js` files will match and be executed by `script-loader`. The intend of this loader is to execute certain files once in global context

[2017-10-20 18:43] michael-ciniawsky commented on #47
When you use the this loader e.g `test. /\.exec\.js/` => `import ./somefile.exec.js`, only this file/import will be use `script-loader` then

[2017-10-20 18:57] oldie85 commented on #47
I have a bundle file that is located in /javascript/src/myfile.js

myfile.js

[2017-10-20 19:15] oldie85 commented on #47
I'm working on a site that has lots of legacy JS and they currently use a redundant technology to minify and concatenate.

I decided to use webpack and specifically script-loader as this seemed to do what I need. As I've mentioned before if I inline 'script-loader', it works.

As soon as I attempt to add it to the webpack config I get the 'unexpected token import' error.

I have a bundle file /jav

[2017-10-20 19:29] michael-ciniawsky commented on #47
Can you post the working `bundle.js` (`output`) please

[2017-10-20 19:36] oldie85 commented on #47
[code]

[2017-10-20 20:42] michael-ciniawsky commented on #47
The problem is that webpack also applies './javascript/src/mybundle.js' (entry), bc of `test: /\.js$/` to `script-loader` and skips the rest. You need to rename the files `file.(exec|script|script).js` or maybe `exclude` works

[code]

[2017-10-20 20:42] #47 closed

[2017-10-23 22:30] rebolyte opened #48 "Error: require is not defined"
This seems like a problem I shouldn't be having, but that's the error I keep running into with this loader. I've added a stripped-down config and the generated bundle in [this gist](https://gist.github.com/rebolyte/8e6c65bd50b043ac921206c5b9a65c73), and it's easy to see that the call to `require` for each module is going to fail.

My situation: I have a bunch of legacy JS (no modules, expecting to

[2017-10-23 23:09] #22 closed

[2017-10-23 23:10] #35 closed

[2017-10-23 23:11] #46 closed

[2017-10-23 23:14] michael-ciniawsky commented on #48
Can you show code from one of the `widgets` aswell please. I'm not 💯  yet 😛
Can could you try with just entry and `require` all widgets there ?

[2017-10-24 14:31] rebolyte commented on #48
Thanks for the quick response. I figured it out: `noParse` was causing my issues. Removing it correctly  passes `__webpack_require__` to each module. I had added it based on reading [this](https://webpack.js.org/guides/shimming/#other-utilities), which I guess doesn't work when I do have multiple "modules" that need to run in a specific order, rather than just one file.

[2017-10-24 14:31] #48 closed

[2018-01-23 18:40] ghuser opened #50 "What does global context mean?"
I would expect that this loader executes script `myScript.js` as if it was included with `<script src="myScript.js">`. This is not the case.

The following statement `var myVar = "value"` will not add myVar as global (in contrast to how `<script src="myScript.js">` behaves)

[2018-01-23 18:43] evilebottnawi commented on #50
@ghuser `var foo = "bar"; function () { console.log(var); }` inside `myScript.js`

[2018-02-02 10:13] hotrush commented on #39
@cordoval can you propose what this to use?

[2018-02-02 11:12] cordoval commented on #39
I am not sure @hotrush , i don't use this anymore, i cut it off long time ago

[2018-02-14 17:42] enriquez commented on #50
@ghuser Is your script in strict mode?  I was having the same issue, give #51 a try.

[2018-03-29 15:00] whtrbit opened #52 "[Karma] Bundled file works in browser but can't be loaded in Karma"
Hey guys,
my problem occurs in AngularJS 1.3 app. I have one JS file bundled with script-loader. Everything works great in the browser - app works the same as before. However I have a problem with loading this file into Karma config. I've reduced my config files so now it looks like this:

[code]

Like I said there is no problem in the app but Karma throws an error:
`
Uncaught Error: [$injector:mo

[2018-06-20 22:49] #33 closed

[2018-08-30 15:53] jakub-g opened #56 "Using script-loader seems to lead to a different `[chunkhash]` being generated each time"
Hello,

First of all, I know that `[chunkhash]` is not the best idea for long term caching, and it's better to use a plugin that creates content-hash, which we will probably do very soon.
Nevertheless I wanted to report the issue, even if only to help some other people who are investigating similar issues.

----

So, we're using webpack 3.x for now, and we have two external scripts, let's call the

[2018-08-30 16:10] jakub-g commented on #56
Well actually this looks suspicious a bit:
https://github.com/webpack-contrib/script-loader/blob/master/index.js#L7-L11

[2018-09-08 14:19] ryanburnette opened #57 "Order"
Let's say my bundle source looks something like this...

[code]

For the cases where `polyfill.js` is necessary, can I rely on it being called before anything in `app.js`?

- webpack 4.17.2
- script-loader 0.7.2

[2018-09-12 12:56] levipadre opened #58 "Error in IE 11"
There is an error in IE11. The site doesn't work except when the dev toolbar is open. In that case I see and error: "`[Script Loader] SyntaxError: Syntax error`".

In my app.js file I'm using script-loader like this:
[code]

Any advice?

[2018-09-12 13:07] michael-ciniawsky commented on #58
Try

[code]

and otherwise one of your files seems to contain a (valid) `{SyntaxError}` somewhere as the unhelpful `err.message` suggest

[2018-09-12 13:11] michael-ciniawsky commented on #57
I think so but wouldn't rely on it, a separate `<script src="polyfills.js">` (in the HTML Template) or using `babel-loader` + `babel-runtime` is the safest approach here

[2018-09-12 13:11] #57 closed

[2018-09-12 13:17] michael-ciniawsky commented on #56
It's a bit 'old' but maybe it helps https://medium.com/webpack/predictable-long-term-caching-with-webpack-d3eee1d3fa31, otherwise I'm sry but it is very hard to exactly tell where/what in **your** application currently causes the `[chunkhash]` to change

[2018-09-12 13:17] #56 closed

[2018-09-12 14:47] ryanburnette commented on #57
@michael-ciniawsky Based on some sanity checks I performed, it was reliable, but out of an abundance of caution, I moved my polyfills to a `polyfills.js` file as you already suggested. Thanks for getting back to me.

[2018-09-12 16:22] #58 closed, assigned to nobody

[2018-10-25 10:11] jakub-g commented on #56
FWIW we've migrated do webpack 4 and `contenthash` and this still happens (only for stuff loaded with `script-loader`).
Will need to deep dive into it to figure out what's exactly happening.

[2018-12-07 12:34] gforcada opened #60 "Stable hashes"
I'm using script-loader to inject some Foundation JS on our bundles and noticed that if I change the path where the repository is, the `contenthash` changes.

Try it yourselves at https://github.com/gforcada/webpack-stable-hashes

The solution I found myself is move the import to the JS file rather than at the webpack configuration like this:

**app.js**
`require('foundation-sites/path/to/file.js'

[2019-01-04 14:45] Rulexec commented on #60
I have the same issue.

Added `console.log` to `node_modules/webpack/lib/JavascriptModulesPlugin.js`:

[code]

Got:

[code]

First generated module in the chunk contains absolute paths and brokes contenthash.

But both input and optput `file.js` are the same.

[2019-02-13 19:17] Rouche commented on #30
@jimmymain Check my little example: https://github.com/Rouche/webpack-test

You can find the file with `Ctrl+P` pattern is like `script:///C:/[full path to file].js`

[2019-03-27 14:53] #30 closed

[2019-03-28 07:24] onlybye commented on #56
@jakub-g we have alse met this problem, have you solved?

[2019-03-28 15:07] jakub-g commented on #56
nope, not yet unfortunately

[2019-04-10 18:05] sergeik opened #63 "Update version after code change"
I think it is great idea to update version in package.json and **publish updated NPM** as well.

[2019-04-10 18:10] evilebottnawi commented on #63
Ping me tomorrow and we will do this, thanks

[2019-04-11 14:02] sergeik commented on #63
@evilebottnawi

Just a friendly reminder...

[2019-04-23 10:16] evilebottnawi commented on #63
Sorry for delay, WIP

[2019-04-23 10:39] #29 closed

[2019-04-23 10:39] #17 closed

[2019-04-23 10:41] evilebottnawi commented on #52
Should be solve in `webpack@4` and latest karma-loader, please test and feel free to open new issue if problem still exists, also please provide minimum reproducible test repo, thanks!

[2019-04-23 10:41] #52 closed

[2019-04-23 10:56] evilebottnawi commented on #63
@sergeik after investigate we think deprecated this loader in favor `raw-loader`, i can provide example in `raw-loader` repo

[2019-04-23 22:37] sergeik commented on #63
@evilebottnawi another words we can "executes JS script once in global context." without **script-loader**? Can you share link to example please.

[2019-04-24 10:20] evilebottnawi commented on #63
@sergeik yes, loader logic is very simple:
1. raw-loader return content of script
2. we do eval on content of this file (https://github.com/webpack-contrib/script-loader/blob/master/addScript.js)

[2019-05-23 08:36] scuben commented on #44
@tiberiucorbu It's everything (now) there so that even I could figure it out. You might give it another try (now).

To all the downvoters on the "PR welcome": Downvoting a call for help will not help.

[2019-08-23 02:50] PierBover commented on #39
I'm having this issue too.

I have a legacy minified `.js` we have to import. `script-loader` works fine in most cases, except when running in an iframe in an app in Chrome OS and we get the `unsafe-eval` error.

I've tried using the `noParse` option in Webpack but that breaks the legacy file for some reason.

Has anyone found workaround?

[2019-08-27 13:18] FilippoPolo commented on #50
If it is due to "use strict", the version that's currently on master should work. However, there's no release yet.

[2019-09-11 14:22] harrisicohen opened #69 ""require is not defined" when using with babel-loader"
When I try to use script-loader after Babel I am getting a runtime error "require is not defined". This line is being added by Babel to all of the legacy files and is what is throwing the error:

`var _interopRequireDefault = require("@babel/runtime-corejs3/helpers/interopRequireDefault");`

Here is the relevant parts of my webpack config:
[code]

[code]

Please let me know if you need any other i

[2019-09-11 15:31] harrisicohen commented on #69
I believe the issue had to do with the plugins I specified. Removing them seems to have resolved the issue.

[2019-09-11 15:31] #69 closed

[2019-10-31 00:23] jakub-g commented on #60
I've been reading docs today and checked the code of this loader and the open issues and it all finally seems to make sense (see #56)

https://webpack.js.org/contribute/writing-a-loader/

https://github.com/webpack-contrib/script-loader/blob/master/index.js#L13-L15

In this loader, `path.join(__dirname, ...)` and `require.resolve(...)` are used which both return absolute paths. Changing those call

[2019-10-31 00:29] jakub-g commented on #60
Ah well. There's been a PR to fix this for 2 years but not merged, and the loader is no longer supported:
https://github.com/webpack-contrib/script-loader/pull/49#issuecomment-547527651 good timing to find all this out :)

[2019-10-31 00:37] localjo opened #70 "Reference error when used with webpack-dev-server"
I'm using `script-loader` to load some legacy scripts into my app. Everything works fine when I build with `webpack`, but when I build with `webpack-dev-server` instead (to enable hot reloading of other, non-legacy scripts in my project), all of my bundles that use `script-loader` throw an error in the browser;
[code]
Oddly, the legacy scripts seem to still be loading in the browser, and the hot r

[2019-10-31 08:10] jakub-g commented on #56
@onlybye see #49 #60 and https://medium.com/@the_teacher/webpack-different-assets-hashes-on-different-machines-the-problem-the-solution-ec6383983b99